* {
    margin:  0;
    padding: 0;
}

html, body {
    height:      100%;
    background:  #fefae0;
    color:       #333;
    font-size:   12px;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1em;
    min-width:   100%;
    min-height:  100%;
}

body {
    background: #fefae0;
}

h1 {
    text-transform: uppercase;
    font-size:      2em;
    line-height:    2em;
    width:          100%;
    text-align:     center;
    font-weight:    bold;
}

h2 {
    text-transform: uppercase;
    font-size:      1.75em;
    line-height:    1.75em;
    width:          100%;
    text-align:     center;
    font-weight:    bold;
}

h3 {
    font-size:   1.625em;
    line-height: 1.625em;
    width:       100%;
    text-align:  center;
    font-weight: bold;
}

h4 {
    font-size:   1.5em;
    line-height: 1.5em;
    width:       100%;
    text-align:  center;
    font-weight: normal;
}

h5 {
    font-size:   1.325em;
    line-height: 1.325em;
    width:       100%;
    text-align:  center;
    font-weight: normal;
}

h6 {
    font-size:   1.25em;
    line-height: 1.25em;
    width:       100%;
    text-align:  center;
    font-weight: normal;
}

a {
    text-decoration: none;
    font-weight:     bold;
    color:           #468C98;
    outline:         none;
}

a:focus, a:hover {
    color:   #984447;
    border:  none;
    outline: none;
}

p {
    line-height:   1.25em;
    margin:        0 0 .625em 0;
    text-align:    left;
    overflow:      hidden;
    text-overflow: ellipsis;
}

img {
    border:        1px solid #E0E0E0;
    border-radius: .25em;
}

ul, ol {
    margin: 1em;
}

ul > li {
    margin-left:     .5em;
    padding-left:    .125em;
    list-style-type: circle;
}

ol > li {
    margin-left:  .5em;
    padding-left: .125em;
}

form {
    margin:     0;
    padding:    0;
    text-align: center;
}

form > div {
    margin: 8px 0 0 0;
    widows: 100%;
}

input {
    font-size:     12px;
    box-sizing:    border-box;
    border:        1px solid #6A6A6A;
    border-radius: .25em;
    width:         100%;
    padding:       4px;
    background:    #fefae0;
}

input[type=file] {
    border:        none;
    border-radius: 0;
    position:      absolute;
    left:          0;
    top:           0;
    right:         0;
    height:        100%;
    opacity:       0;
    cursor:        pointer;
}

input[type=submit] {
    color:          #fefae0;
    cursor:         pointer;    
    border:         1px solid #254a78;
    background:     #476c9b;
    text-transform: uppercase;
    font-weight:    bold;
}

select {
    background-color: #fefae0;
    box-sizing:       border-box;
    padding:          0 1em 0 0;
    border:           1px solid #6A6A6A;
    border-radius:    .25em;
    width:            100%;
    font-family:      inherit;
    font-size:        12px;
    cursor:           inherit;
    line-height:      inherit;
    color:            inherit;
    padding:          4px 0;
}

option {
    background-color: #fefae0;
    font-family:      inherit;
    font-size:        inherit;
    cursor:           inherit;
    line-height:      inherit;
    color:            inherit;
}

textarea {
    font-size:     12px;
    box-sizing:    border-box;
    border:        1px solid #6A6A6A;
    border-radius: .25em;
    width:         100%;
    padding:       4px;
    background:    #fefae0;
    resize:        none;
}

.clear {
    content: "";
    display: block;
    clear:   both;
}

.hidden {
    display: none !important;
}

.wrapper {
    min-height: 100%;
    min-width:  100px;
    position:   relative;
    overflow-x: hidden;
}

.header {
    color: #fefae0;
}

.logo {
    display: none;
}

.site-title {
    display:        inline-block;
    font-size:      14px;
    text-transform: uppercase;
    width:          100%;
    margin:         0;
    background:     #476c9b;
    color:          #fefae0;
    line-height:    2em;
    text-align:     center;
}

.site-title:hover {
    color: #fefae0;
}

.header-menu {
    display: none;
}

.greed-view-button, .list-view-button {
    display: none;
}

.navigation {
    display: none;
}

.content {
    padding:    8px;
    text-align: center;
}

.site-error {
    display:        block;
    font-size:      14px;
    line-height:    18px;
    text-transform: uppercase;
    width:          auto;
    padding:        16px 0 8px 0;
    font-weight:    bold;
    color:          #6A6A6A;
    overflow-wrap:  hidden;
    text-overflow:  ellipsis;
}

.site-error > span{
    color: #984447;
}

.file-title, .category-title, .page-title {
    display:        block;
    font-size:      14px;
    line-height:    18px;
    text-transform: uppercase;
    width:          auto;
    padding:        0px;
    font-weight:    bold;
    color:          #6A6A6A;
    overflow:       hidden;
    text-overflow:  ellipsis;
}

.file-title {
    margin: 0;
}

.page-title {
    margin: 0px 0px 6px 0px;
}

.category-title {
    margin: 8px 8px 0 8px;
}

.page-text {
    margin: 0 0 -8px 0;
}

.ajax-file-wrapper {
    width:      100%;
    text-align: center;
}

.file-preview {
    display:    none;
    background: #FFF;
}

.file-link-view, .file-link-download {
    display:        block;
    margin:         8px 0 0 0;
    padding:        4px;
    text-transform: uppercase;
    font-weight:    bold;
    text-align:     center;
    color:          #fefae0;
    border-radius:  .25em;
    font-size:      12px;
}

.file-link-view {
    border:     1px solid #254a78;
    background: #476c9b;
}

.file-link-download {
    border:     1px solid #762225;
    background: #984447;
}

.file-link-view:hover, .file-link-view:active {
    color:  #fefae0;
    border: 1px solid #254a78;
}

.file-link-download:hover, .file-link-download:active {
    color:  #fefae0;
    border: 1px solid #762225;
}

.file-link-view > span, .file-link-download > span {
    display: none;
}

.file-description {
    margin:     8px 0 -8px 0;
    overflow:   hidden;
    font-size:  12px;
}

.form-errors {
    border:        1px solid #844;
    border-radius: .125em;
    background:    #E44;
    color:         #fefae0;
    text-align:    left;
    margin:        0 0 8px 0;
}

.form-errors > ul {
    margin:  0;
    padding: 4px 4px 0 4px;
}

.form-errors > ul > li {
    margin:          0 0 4px 0;
    padding:         0;
    list-style-type: none;
    font-weight:     bold;
    font-size:       13px;
}

.form-input-file {
    font-size:     12px;
    box-sizing:    border-box;
    border:        1px solid #254a78;
    border-radius: .25em;
    position:      relative;
    padding:       4px;
    cursor:        pointer;
    background:    #476c9b;
}

.form-input-file > span {
    text-transform: uppercase;
    color:          #fefae0;
    cursor:         pointer;
}

.file-manager-greed, .file-manager-list {
    padding: 0 0 8px 0;
}

.file-manager-item-content {
    height: 100%;
    width:  100%;
}

.file-manager-greed > ul, .file-manager-list > ul {
    margin: 0;
    width:  auto;
}

.file-manager-greed > ul > .file-manager-header,
.file-manager-list > ul > .file-manager-header {
    display: none;
}

.file-manager-greed > ul > li, .file-manager-list > ul > li {
    margin:          8px 8px 0 8px;
    padding:         0;
    list-style-type: none;
    display:         block;
    width:           auto;
    overflow:        hidden;
}

.file-manager-greed > ul > li > div > .file-meta,
.file-manager-list > ul > li > div > .file-meta {
    display: none;
}

.file-manager-greed > ul > li > div > a > img,
.file-manager-list > ul > li > div > a > img {
    display: none;
}

.file-manager-greed > ul > li > div > a > h3,
.file-manager-list > ul > li > div > a > h3 {
    display:       block;
    font-size:     14px;
    line-height:   18px;
    font-weight:   normal;
    width:         auto;
    text-align:    left;
    overflow:      hidden;
    text-overflow: ellipsis;
}

.ajax-title {
    font-size:     20px;
    line-height:   36px;
    margin:        0;
    overflow-wrap: break-word;
    color:         #6A6A6A;
}

.footer {
    display: none;
}

@media (min-width: 200px) {
    html, body {
        font-size: 14px;
    }

    form {
        display: block;
    }

    input {
        font-size: 14px;
    }

    select {
        font-size: 14px;
    }

    textarea {
        font-size: 14px;
    }

    .file-title, .category-title, .page-title {
        font-size:   16px;
        line-height: 20px;
    }

    .file-header {
        text-align: center;
    }

    .file-link-view, .file-link-download {
        display:   inline-block;
        margin:    8px 0 0 0;
        width:     160px;
        font-size: 14px;
    }

    .file-link-view > span, .file-link-download > span {
        display: inline-block;
    }

    .file-description {
        font-size:  14px;
        text-align: left;
        margin:     8px 0 -8px 0;
    }

    .form-errors > ul > li {
        font-size:   14px;
        line-height: 1.5em;
    }

    .form-input-file {
        font-size: 14px;
    }

    .file-manager-greed > ul > li > div > a > img,
    .file-manager-list > ul > li > div > a > img {
        border:        none;
        display:       inline-block;
        border-radius: 0;
        padding:       0;
        margin:        0 4px 0 0;
        width:         20px;
        height:        20px;
        float:         left;
    }

    .file-manager-greed > ul > li > div > a > h3,
    .file-manager-list > ul > li > div > a > h3 {
        font-size:   16px;
        line-height: 20px;
    }
}

@media (min-width: 240px) {
    .file-manager-greed, .file-manager-list {
        padding: 0 0 28px 0;
    }

    .content {
        padding: 8px 8px 28px 8px;
    }

    .footer {
        background:  #984447;
        position:    absolute;
        left:        0;
        right:       0;
        bottom:      0;
        height:      20px;
        padding:     0 20px;
        line-height: 20px;
        color:       #fefae0;
        text-align:  center;
        display:     block;
    }

    .footer a {
        color:  #fefae0;
        margin: 0 8px;
    }

    .copyright {
        display: none;
    }
}

@media (min-width: 320px) {
    form {
        display:       inline-block;
        width:         286px;
        margin:        0;
        padding:       0 8px 8px 8px;
        border:        1px solid #6A6A6A;
        border-radius: .25em;
    }

    input {
        font-size: 16px;
    }

    select {
        font-size: 16px;
    }

    textarea {
        font-size: 16px;
    }

    .form-errors {        
        display:   inline-block;
        width:     302px;
        margin:    0 0 8px 0;
    }

    .form-errors > ul > li {
        font-size: 16px;
        margin:    0 0 8px 0;
        padding:   0;
    }

    .form-errors > ul {
        padding: 8px 8px 0 8px;
        margin:  0;
    }

    .form-input-file {
        font-size: 16px;
    }

    .logo {
        display:       inline-block;
        border:        none;
        border-radius: 0;
        width:         20px;
        height:        20px;
        margin:        8px;
        float:         left;
    }

    .site-title {
        padding:     0 8px;
        font-size:   20px;
        line-height: 36px;
        text-align:  left;
        display:     block;
    }

    .header-menu {
        display:  inline-block;
        position: absolute;
        top:      0;
        right:    8px;
    }

    .header-menu > ul {
        margin: 0;
    }

    .header-menu > ul > li {
        margin:          0px 4px;
        padding:         0;
        list-style-type: none;
        display:         inline-block;
    }

    .header-menu > ul > li > a {
        color:       #fefae0;
        font-size:   20px;
        line-height: 36px;
    }

    .content {
        padding:   8px 8px 40px 8px;
        font-size: 16px;
    }

    .site-error {
        font-size: 18px;
    }

    .file-preview {
        display: inline-block;
        margin:  8px 0 0 0;
        padding: 8px;
        width:   200px;
    }

    .file-link-view, .file-link-download {
        display:   inline-block;
        margin:    8px 4px 0 4px;
        width:     120px;
        padding:   8px;
        font-size: 16px;
    }

    .file-description {
        font-size: 16px;
        margin:    8px 0 -8px 0;
    }

    .file-manager-greed, .file-manager-list {
        padding: 0 0 38px 0;
    }

    .file-manager-greed > ul > li, .file-manager-list > ul > li {
        border-top: 1px solid #E0E0E0;
        padding:    8px 0 0 0;
    }

    .footer {
        height:      32px;
        padding:     0 8px;
        line-height: 32px;
        text-align:  left;
    }

    .footer a {
        margin: 0 8px 0 0;
    }

    .copyright {
        display: inline-block;
        color:   #fefae0;
        margin:  0 8px 0 0;
    }
}

@media (min-width: 420px) {
    .greed-view-button, .list-view-button {
        display: inline-block;
    }

    .file-title, .category-title, .page-title {
        font-size:   20px;
        line-height: 28px;
    }

    .site-error {
        font-size:   20px;
        line-height: 28px;
    }

    .file-preview {
        float:  left;
        margin: 8px 0 0 0;
    }

    .file-links {
        display: inline-block;
        padding: 8px 0 0 0;
        margin:  8px 0 0 0;
    }

    .file-link-view, .file-link-download {
        margin:  0 0 8px 0;
        display: block;
        width:   150px;
    }

    .file-manager-greed {
        margin:     0;
        padding:    8px 8px 40px 8px;
        text-align: center;
        overflow:   hidden;
    }

    .file-manager-greed > ul {
        margin:     0;
        padding:    0;
        text-align: center;
    }

    .file-manager-greed > ul > li {
        margin:     0;
        padding:    8px;
        border:     none;
        height:     140px;
        width:      128px;
        display:    inline-block;
        text-align: center;
        position:   relative;
    }

    .file-manager-greed > ul > li > div > a {
        color: #476C9B;
    }

    .file-manager-greed > ul > li > div > a > img {
        margin:  0 0 8px 0;
        width:   50px;
        height:  50px;
        display: inline-block;
        float:   none;
    }

    .file-manager-greed > ul > li > div > a > h3 {
        margin:        0;
        padding:       0;
        line-height:   20px;
        font-size:     16px;
        font-weight:   normal;
        height:        80px;
        width:         128px;
        overflow-wrap: anywhere;
        text-align:    center;
    }
}

@media (min-width: 480px) {
    form {
        width:   414px;
        padding: 0 16px 16px 16px;
    }

    form > div {
        margin: 16px 0 0 0;
    }

    .logo {
        margin: 16px 8px 16px 16px;
    }

    .site-title {
        line-height: 52px;
    }

    .header-menu {
        right:       16px;
        line-height: 52px;
    }

    .content {
        padding: 16px 16px 64px 16px;
    }

    .site-error {
        padding: 32px 0 16px 0;
    }

    .file-title, .page-title {
        line-height: 52px;
        margin:      -16px 0 0 0;
    }

    .category-title {
        line-height: 52px;
        margin:      0 16px -8px 16px;
    }

    .file-preview {
        padding: 16px;
        margin:  0;
    }

    .file-links {
        margin:  0;
        padding: 16px 0 0 0;
    }

    .file-link-view, .file-link-download {
        margin:  0 0 16px 0;
        padding: 16px;
    }

    .file-description {
        margin: 16px 0 -16px 0;
    }

    .form-errors {
        width:  446px;
        margin: 0 0 16px 0;
    }

    .form-errors > ul {
        padding: 16px 16px 0 16px;
    }

    .form-errors > ul > li {
        margin:    0 0 16px 0;
    }

    .file-manager-list {
        padding: 0 0 56px 0;
        margin:  0 8px 0 8px;
    }

    .file-manager-list > ul > .file-list-item:hover > .file-manager-item-content {
        background: #ccf;
        cursor:     pointer;
    }

    .file-manager-list > ul > .file-manager-header {
        display:    block;
        color:      #6A6A6A;
        text-align: left;
    }

    .file-manager-list > ul > .file-manager-header:hover {
        background: none;
    }

    .file-manager-list > ul > .file-manager-header > div {
        display: inline-block;
    }

    .file-manager-header-title {
        float:  left;
        margin: 4px 0 0 24px;
    }

    .file-manager-header-cdate {
        display: none;
    }

    .file-manager-greed {
        padding: 4px 16px 48px 16px;
    }

    .file-manager-greed > ul > li {
        height:  180px;
        float:   left;
        z-index: 1000;
        padding: 16px 0;
    }

    .file-manager-greed > ul > li > div > a > img {
        margin: 0 16px 16px 16px;
    }

    .file-manager-greed > ul > li > div > a > h3 {
        padding: 0 16px 16px 16px;
        width:   auto;
    }

    .file-manager-greed > ul > li:hover {
        background: #ccf;
        overflow:   visible;
        z-index:    2000;
        display:    inline-block;
    }

    .file-manager-greed > ul > li:hover > div > a > h3 {
        background:     #ccf;
        min-height:     80px;
        height:         auto;
    }

    .copyright {
        margin: 0 8px;
    }

    .footer {
        padding: 8px;
        z-index: 20000;
    }
}

@media (min-width: 620px) {
    .file-preview {
        width: 256px;
    }

    .file-link-view, .file-link-download {
        width: 200px;
    }

    .file-manager-list > ul > .file-manager-header {
        height:      36px;
        line-height: 36px;
    }

    .file-manager-header-title {
        width:  508px;
        margin: 0 0 0 48px;
    }

    .file-manager-list > ul > .file-list-item {
        height: 48px;
    }

    .file-manager-list > ul > li > div > a > img {
        margin: 8px;
        width:  32px;
        height: 32px;
    }

    .file-manager-list > ul > li > div > a > h3 {
        margin:      0;
        padding:     0;
        line-height: 48px;
        font-size:   16px;
        font-weight: normal;
        width:       508px;
        display:     inline-block;
        color:       #254A78;
        float:       left;
        text-align:  left;
    }

    .file-manager-list > ul > li > div > .file-meta {
        display: inline-block;
        float:   right;
        margin:  0 8px 0 0;
    }

    .file-cdate {
        display: none;
    }

    .file-manager-list > ul > li > div > .file-meta > .file-controls > a {
        font-size:   22px;
        margin:      0 4px;
        line-height: 48px;
    }

    .file-controls-info {
        color: #6A6A6A;
    }

    .file-controls-edit {
        display: none;
    }

    .file-controls-remove {
        display: none;
    }
}

@media (min-width: 680px) {
    .file-controls-edit {
        display: inline-block;
        color:   #262;
    }

    .file-controls-remove {
        display: inline-block;
        color:   #C22;
    }
}

@media (min-width: 860px) {
    .file-wrapper {
        text-align: center;
    }

    .file-header {
        width:   100%;
        display: inline-block;
    }

    .file-links {
        float: right;
    }

    .file-manager-header > div  {
        width: 100%;
    }

    .file-manager-header > div > .file-manager-header-cdate {
        display:    block;
        float:      right;
        text-align: center;
        min-width:  150px;
        margin:     0 91px 0 0;
        padding:    0 8px;
    }

    .file-cdate {
        display:     block;
        font-size:   16px;
        line-height: 48px;
        min-width:   150px;
        color:       #6A6A6A;
        padding:     0 8px;
        float:       left;
    }

    .file-controls {
        display:    block;
        float:      right;
        text-align: right;
        width:      83px;
    }
}

@media (min-width: 940px) {
    .navigation {
        display:        block;
        margin:         4px 16px;
        text-transform: uppercase;
        font-size:      12px;
        line-height:    16px;
    }

    .breadcrumbs {
        margin:   0;
        padding:  0;
        overflow: hidden;
        height:   16px;
    }

    .breadcrumbs > li {
        display:     inline-block;
        margin:      0;
        padding:     0;
        font-weight: bold;
        color:       #6A6A6A;
    }

    .breadcrumbs > li > a {
        color: #6A6A6A;
        line-height: 15px;
    }

    .breadcrumbs > li > a:after {
        content:     '»';
        padding:     0 .25em;
        margin:      -.0625em 0 0 0;
        font-size:   1em;
        float:       right;
        line-height: 15px;
    }

    .breadcrumbs > li > a:hover {
        color: #984447;
    }

    .category-title {
        margin: -16px 16px -8px 16px;
    }

    .file-title, .page-title {
        margin: -24px 0 0 0;
    }
}

.fancybox-active {
    height: 100% !important;
}

.fancybox-content {
    min-width:  auto !important;
    min-height: auto !important;
}
